* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  /* background-image: url(""); */
  background-size: 100vw 100vh;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  min-width: 350px;
  max-width: 600px;

  background: black;
  text-align: center;
  padding: 20px;
  border-radius: 24px;
}
@keyframes disp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  user-select: none;
  margin: 20px 20px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  margin-top: 30px;
  padding: 10px;
}
